<app-header></app-header>

<div class="booking_page">
  <div class="container">

    <h4 class="margin" style="margin-bottom: 20px">
      Reserve seu veículo
    </h4>

    <div class="row margin">

      <div class="col-md-4 left">
        <div class="row">

          <div class="white-panel" id="backtoResults">
            <div class="Car_detail">
              <h3>Voltar aos resultados</h3>
            </div>
          </div>

          <div class="white-panel">
            <div class="Car_detail">

              <h2>{{ car.name }}</h2>

              <div class="row">
                <img src="{{ car.imageName }}" id="img">
              </div>

              <div class="row" id="feature">
                <table class="options">
                  <tr>
                    <th><svg-icon src="../assets/icons/Person.svg"></svg-icon></th>
                    <th><svg-icon src="../assets/icons/luggage.svg"></svg-icon></th>
                    <th><svg-icon src="../assets/icons/AC.svg"></svg-icon></th>
                    <th><svg-icon src="../assets/icons/Auto.svg"></svg-icon></th>
                  </tr>

                  <tr>
                    <td>{{ car.passengers }}</td>
                    <td>{{ car.luggage }}</td>
                    <td>{{ car.ACsup ? 'Sim' : 'Não' }}</td>
                    <td>{{ car.isAuto ? 'Automático' : 'Manual' }}</td>
                  </tr>
                </table>
              </div>

              <table class="feature">
                <tr>
                  <th>Características:</th>
                </tr>

                <tr>
                  <td>
                    <img src="../assets/icons/check.png" style="width:20px; height:20px;">
                    {{ car.type }}
                  </td>
                </tr>

                <tr>
                  <td>
                    <img src="../assets/icons/check.png" style="width:20px; height:20px;">
                    Cancelamento grátis
                  </td>
                </tr>

                <tr>
                  <td>
                    <img src="../assets/icons/check.png" style="width:20px; height:20px;">
                    Quilometragem ilimitada
                  </td>
                </tr>
              </table>

            </div>
          </div>

          <div class="white-panel" id="location">
            <h6>LOCALIZAÇÃO DA LOCAÇÃO</h6>

            <p>
              Confira abaixo a cidade/local de retirada e devolução do veículo selecionado.
            </p>

            <p>
              <b>Retirada:</b> {{ searchInfo[2] }}, {{ searchInfo[3] }}
            </p>

            <div>
              <b>Cidade/local de retirada:</b>
              {{ car.pickupLoc || searchInfo[0] }}
            </div>

            <p style="margin-top: 10px;">
              <b>Devolução:</b> {{ searchInfo[4] }}, {{ searchInfo[5] }}
            </p>

            <div>
              <b>Cidade/local de devolução:</b>
              {{ searchInfo[1] || car.pickupLoc }}
            </div>

            <p style="margin-top: 10px;" *ngIf="car.isavailable">
              <b>Status:</b>
              <span style="color: green;">Veículo disponível para reserva</span>
            </p>

            <p style="margin-top: 10px;" *ngIf="!car.isavailable">
              <b>Status:</b>
              <span style="color: red;">Veículo indisponível para reserva</span>
            </p>
          </div>

          <div class="white-panel-last">
            <div class="Important-info">
              <h6>INFORMAÇÕES IMPORTANTES</h6>
              <p>Políticas da locadora.</p>
              <p>Você pode cancelar esta reserva a qualquer momento sem penalidade.</p>
              <p>
                Caso seja um locatário local ou não tenha comprovante de voo de retorno,
                revise as regras e restrições da locadora.
              </p>
              <p>
                Regras e restrições podem envolver seguro, idade do motorista,
                quilometragem, restrições geográficas e taxas adicionais.
              </p>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-8">
        <div class="row">

          <div class="white-panel">
            <div class="price_detail">

              <h3>Valor total da reserva</h3>

              <div class="price_total">
                <span class="pay_now">Pagamento antecipado</span>
                ${{ price.total | number:'1.2-2' }}
              </div>

              <div class="new_form">
                <h3>Opções recomendadas</h3>

                <ul class="new_list">

                  <li class="new_item">
                    <div></div>
                    <div class="new_label">Seguro básico</div>
                    <div class="new_price">${{ car.insurance | number:'1.2-2' }}/dia</div>
                    <div class="new_check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        (change)="onchange($event)"
                        [value]="car.insurance">
                    </div>
                  </li>

                  <li class="new_item">
                    <div></div>
                    <div class="new_label">Proteção contra acidentes pessoais</div>
                    <div class="new_price">${{ price.pap | number:'1.2-2' }}/dia</div>
                    <div class="new_check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        (change)="onchange($event)"
                        [value]="price.pap">
                    </div>
                  </li>

                  <li class="new_item">
                    <div></div>
                    <div class="new_label">Seguro de responsabilidade adicional</div>
                    <div class="new_price">${{ price.sli | number:'1.2-2' }}/dia</div>
                    <div class="new_check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        (change)="onchange($event)"
                        [value]="price.sli">
                    </div>
                  </li>

                  <li class="new_item">
                    <div></div>
                    <div class="new_label">Proteção estendida na estrada</div>
                    <div class="new_price">${{ price.erp | number:'1.2-2' }}/dia</div>
                    <div class="new_check">
                      <input
                        type="checkbox"
                        class="form-check-input"
                        (change)="onchange($event)"
                        [value]="price.erp">
                    </div>
                  </li>

                </ul>
              </div>

              <div class="tb">
                <div class="tb_row">
                  <div class="tb_cell bold">
                    {{ price.day }} dias @ ${{ car.price | number:'1.2-2' }}/dia
                  </div>
                  <div class="tb_cell bold">
                    ${{ price.day * car.price | number:'1.2-2' }}
                  </div>
                </div>

                <div class="tb_row">
                  <div class="tb_cell bold">Taxas estimadas</div>
                  <div class="tb_cell bold">${{ price.tax | number:'1.2-2' }}</div>
                </div>

                <div class="tb_row">
                  <div class="tb_cell bold">Valor total da reserva</div>
                  <div class="tb_cell bold">${{ price.total | number:'1.2-2' }}</div>
                </div>
              </div>

            </div>
          </div>

          <div class="white-panel">
            <h3>Informações do motorista</h3>

            <form ngForm>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label>Nome:</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="driverinfo.firstname"
                    name="first">
                </div>

                <div class="form-group col-md-4 second">
                  <label>Sobrenome:</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="driverinfo.lastname"
                    name="last">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-4">
                  <label>Email:</label>
                  <input
                    type="email"
                    class="form-control"
                    [(ngModel)]="driverinfo.email"
                    name="email">
                </div>

                <div class="form-group col-md-4 second">
                  <label>Telefone:</label>
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="driverinfo.phone"
                    name="phone">
                </div>
              </div>
            </form>
          </div>

          <div class="white-panel">
            <h3>Informações de pagamento</h3>

            <p class="credit_term">
              Um cartão de crédito válido é necessário para concluir a reserva.
            </p>

            <ul class="credit_card">
              <li><img src="../../assets/credit_cards/visa.png"></li>
              <li><img src="../../assets/credit_cards/master.png"></li>
              <li><img src="../../assets/credit_cards/american_express.png"></li>
              <li><img src="../../assets/credit_cards/discover.png"></li>
            </ul>

            <br><br>

            <form>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label>Número do cartão:</label>
                  <input type="text" class="form-control">
                </div>

                <div class="form-group col-md-2 second">
                  <label>CVC:</label>
                  <input type="text" class="form-control">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-3">
                  <label>Data de expiração:</label>
                  <select class="form-control">
                    <option value="">Mês</option>
                    <option value="01">01</option>
                    <option value="02">02</option>
                    <option value="03">03</option>
                    <option value="04">04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                    <option value="07">07</option>
                    <option value="08">08</option>
                    <option value="09">09</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                  </select>
                </div>

                <div class="form-group col-md-3 second">
                  <label class="spec">Ano</label>
                  <select class="form-control">
                    <option value="">Ano</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                    <option value="2029">2029</option>
                    <option value="2030">2030</option>
                  </select>
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-4 form-group">
                  <label>Nome</label>
                  <input class="form-control" type="text">
                </div>

                <div class="col-md-4 form-group second">
                  <label>Sobrenome</label>
                  <input class="form-control" type="text">
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-4 form-group">
                  <label>Endereço de cobrança</label>
                  <input class="form-control" type="text">
                </div>

                <div class="col-md-4 form-group second">
                  <label>Complemento</label>
                  <input class="form-control" type="text">
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-4 form-group">
                  <label>Cidade</label>
                  <input class="form-control" type="text">
                </div>

                <div class="col-md-4 form-group second">
                  <label>CEP</label>
                  <input class="form-control" type="text">
                </div>
              </div>

              <div class="form-row">
                <div class="col-md-4 form-group">
                  <label>País</label>
                  <select class="form-control">
                    <option value="">Selecione o país</option>
                    <option value="BR">Brasil</option>
                    <option value="US">Estados Unidos</option>
                    <option value="PT">Portugal</option>
                    <option value="AR">Argentina</option>
                    <option value="CL">Chile</option>
                    <option value="MX">México</option>
                    <option value="FR">França</option>
                    <option value="DE">Alemanha</option>
                    <option value="IT">Itália</option>
                    <option value="ES">Espanha</option>
                  </select>
                </div>

                <div class="col-md-4 form-group second">
                  <label>Estado</label>
                  <select class="form-control">
                    <option value="">Selecione o estado</option>
                    <option value="CE">Ceará</option>
                    <option value="SP">São Paulo</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="BA">Bahia</option>
                    <option value="PE">Pernambuco</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="PB">Paraíba</option>
                    <option value="PI">Piauí</option>
                    <option value="MA">Maranhão</option>
                  </select>
                </div>
              </div>
            </form>
          </div>

          <div class="white-panel-last">
            <h3>Complete sua reserva</h3>

            <ul class="points">
              <li>
                O nome no cartão usado para fazer a reserva deve corresponder ao nome do motorista.
              </li>

              <li>
                O mesmo cartão deve ser apresentado no momento da retirada do veículo.
              </li>

              <li>
                Seu cartão será cobrado no valor total de
                ${{ price.total | number:'1.2-2' }} quando a reserva for concluída.
              </li>

              <li>
                Esta reserva pré-paga não poderá ser alterada ou reembolsada.
              </li>
            </ul>

            <hr>

            <p class="agree">
              Ao clicar em Reservar Agora, declaro que li e aceito os
              <span id="terms">Termos de Uso</span> e a
              <span id="privacy">Política de Privacidade</span>.
            </p>

            <button
              class="btn orange"
              [disabled]="!car.isavailable"
              (click)="onclick()">
              RESERVAR AGORA
            </button>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>

<app-footer></app-footer>