<div class="container" id="card">

  <div class="row" id="main_row" style="padding-left: 10px; padding-right: 10px">

    <div class="col-sm-10">

      <div class="row" id="model_name">
        {{ car.name }}
      </div>

      <div class="row" style="margin-left: 5px; margin-top: 8px;">
        <span *ngIf="car.isavailable" style="color: green; font-weight: bold;">
          Disponível
        </span>

        <span *ngIf="!car.isavailable" style="color: red; font-weight: bold;">
          Indisponível
        </span>
      </div>

      <label
        for="id-of-input"
        style="font-size: 1rem; color: #F66500; margin-top: 17px; margin-left: 5px">
        Adicionar aos favoritos
      </label>

      <input
        type="checkbox"
        id="id-of-input"
        style="margin-top: 21px; margin-left: 15px"
        (change)="onchange($event)"
        [(ngModel)]="check">

      <div class="row">

        <div class="col-sm-4" id="L_col">

          <div class="row">
            <img
              class="img"
              mat-card-image
              src="{{ car.imageName }}"
              id="image"
              alt="Carro">
          </div>

          <div class="row">

            <div class="col-sm">
              <div class="row">
                <svg-icon src="../assets/icons/Person.svg"></svg-icon>
              </div>
              <div class="row">
                {{ car.passengers }}
              </div>
            </div>

            <div class="col-sm">
              <div class="row">
                <svg-icon src="../assets/icons/luggage.svg"></svg-icon>
              </div>
              <div class="row">
                {{ car.luggage }}
              </div>
            </div>

            <div class="col-sm">
              <div class="row">
                <svg-icon src="../assets/icons/AC.svg"></svg-icon>
              </div>
              <div class="row">
                {{ car.ACsup ? 'Sim' : 'Não' }}
              </div>
            </div>

            <div class="col-sm">
              <div class="row">
                <svg-icon src="../assets/icons/Auto.svg"></svg-icon>
              </div>
              <div class="row">
                {{ car.isAuto ? 'Automático' : 'Manual' }}
              </div>
            </div>

          </div>
        </div>

        <div class="col-sm-8" id="R_col">

          <div class="row">
            <img src="https://www.autoescape.com/images-cms/images/SUPPLIERS/TARSIER/65bb10e6e11aeaf4d88f9514491c6801_h25.png">
          </div>

          <div class="row">

            <div class="col-sm-6">
              <li>Características</li>
              <li>
                <img src="../assets/icons/check.png" style="width:20px; height:20px;">
                {{ car.type }}
              </li>
              <li>
                <img src="../assets/icons/check.png" style="width:20px; height:20px;">
                Pagamento na retirada
              </li>
              <li>
                <img src="../assets/icons/check.png" style="width:20px; height:20px;">
                Cancelamento grátis
              </li>
            </div>

            <div class="col-sm-6">
              <p id="pickuptext">
                <svg-icon src="../assets/icons/Airports.svg"></svg-icon>
                Cidade/local de retirada:
              </p>

              <p style="font-weight: bold;">
                {{ car.pickupLoc }}
              </p>

              <p>
                Status:
                <span *ngIf="car.isavailable" style="color: green;">
                  disponível para reserva
                </span>

                <span *ngIf="!car.isavailable" style="color: red;">
                  indisponível para reserva
                </span>
              </p>
            </div>

          </div>

        </div>

      </div>

    </div>

    <div class="col-sm-2" id="col_r">

      <div class="row">
        <p style="margin-left: 10px">Pagamento na retirada</p>
      </div>

      <li id="price_text">
        ${{ car.price }}/dia
      </li>

      <div class="row" id="button_row">
        <button
          id="continue_button"
          class="btn btn-primary"
          style="width: 150px; height: 45px"
          [disabled]="!car.isavailable"
          type="button"
          (click)="btnContinueClick()"
          routerLink="/bookingdetail">
          CONTINUAR
        </button>
      </div>

    </div>

  </div>

</div>