<aside class="control-sidebar control-sidebar-dark" style="margin-top: 40px">

  <form [formGroup]="formModel">

    <p>FAIXA DE PREÇO (1 dia)</p>

    <select formControlName="price" class="form-control">
      <option *ngFor="let price of pricelist" [value]="price.id">
        {{ price.text }}
      </option>
    </select>

    <br><br>

    <div>
      <p>TIPO DE VEÍCULO</p>

      <label>
        <input
          type="checkbox"
          id="alltypes"
          [checked]="isAllChecked()"
          (change)="typecheckAll($event)">
        Selecionar todos
      </label>

      <div formArrayName="type">

        <div
          *ngFor="let op of options; let i = index"
          class="form-check"
          style="padding-left: 0px">

          <label>
            <input
              type="checkbox"
              [formControlName]="i"
              (change)="op.state = $event.target.checked">
            {{ op.text }}
          </label>

        </div>

      </div>
    </div>

    <br><br>

    <p>NÚMERO DE PASSAGEIROS: {{ psgervalue }}</p>

    <div class="passenger">
      <input
        type="range"
        min="2"
        max="7"
        formControlName="paserNum"
        class="slider"
        id="myRange">
    </div>

    <br><br>

    <p>IDADE DO MOTORISTA</p>

    <div>
      <div class="passenger">

        <input
          formControlName="age"
          type="radio"
          name="age"
          value="larger18">
        Adulto<br>

        <input
          formControlName="age"
          type="radio"
          name="age"
          value="less18">
        Menor de 18<br>

      </div>
    </div>

  </form>

</aside>